@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button {
    overflow: visible;
}
  
button, select {
    text-transform: none;
}
  
button, input, select{
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}
  
input {
    line-height: normal;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

h1,h2 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    
}

.carro{
    width: 14%;
    margin-left: 44%;
}

.bandeira{
    width: 3%;
}

  input[type='text'], input[type='date'], input[type='number'], select{
    background-clip: transparent;
	background: none;
    border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
    text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #dadad4 inset;
  }
  
label{
    color: #474544;
	font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
    text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, input[type='date']:focus, input[type='number']:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

select::-ms-expand {
  display: none;
}
 
.container {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #dadad4;
    margin-top: 20%;
    max-width: 888px;
    margin: 70px auto;
    position: relative;
    border: 3px solid  #474544;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 32%;
  }

.icon_wrapper {
    margin: 30px auto 0;
  }
  

.nome {
	width: 100%;
}

.licenca{
    margin-top: 3%;
    width: 75%;
}

.estiloP{
    width: 75%;
}

.pais {
  width: 100%;
}

.quanti {
  margin-top: 3%;
  width: 50%;
}

.latitude {
    float: left;
	width: 45%;
}

.longitude{
    float: right;
	width: 45%;
}

.dataPre{
    width: 50%;
}

#inputBuscar{
    margin-top: 6%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}


#btnCadastro, #btnMostrarMapa{
  vertical-align: middle;
  float: left;
  border-radius: 10px;
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button{
  border-radius: 10px;
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 2px 0 10px 9px;
}

button:hover{
  color: #dadad4;
  background-color: #474544;
}

#btnCarregar{
    margin-left: 6%;
    vertical-align: middle;
    float: left;
    border-radius: 10px;
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#btnBuscar {
    border-radius: 10px;
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  

#btnBuscar:hover, #btnCadastro:hover, #btnCarregar:hover {
    background: #474544;
    color: #F2F3EB;
}
.item {
  background-color: #cbc8c8; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  padding: 20px; 
  margin-bottom: 20px; 
  text-transform: uppercase;
  width: 50%;
  border: solid 2px #474544;
}

.item p {
  margin: 0 0 10px; 
  font-size: 16px; 
  color: #474544; 
}


.item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transform: translateY(-4px); 
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
@media screen and (max-width: 768px) {
    #container {
      margin: 20px auto;
      width: 95%;
    }
}
  
@media screen and (max-width: 480px) {
    h1 {
    font-size: 26px;
}
#btnBuscar {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    .img {
      height: 35px;
      width: 35px;
    }
    
    input[type='text'], input[type='date'], input[type='number'], select{
      font-size: 0.875em;
    }
  }

  
  .patterns {
    width: auto;
    height: auto;
  }
  
  .pt1 {
    background-size: 10px 160px;
    background-color: rgb(57, 57, 57);
    background-image: -webkit-linear-gradient(rgba(28, 28, 28, 0.2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(0, 0, 0, 0.82) transparent 50%, transparent);
  }

  #estiloPista:hover, #licencaFIA:hover{
    cursor: pointer;
  }

  #estiloPista:active, #licencaFIA:active{
    cursor: grabbing;

  }